@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.error-message {
    margin-top: 12px;
    font-size: 12px;
    color: #f5f7fa;
    font-weight: 100;
}

.output-seconds {
    height: 10vh;
    width: 50vw;
    font-weight: 700;
    color: white;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    border-color: #f5f7fa;
    text-align: center;
    border-radius: 10px;
}

.button {
    background-color: #f5f7fa;
    border-radius: 7px;
    padding: 7px;
    margin-top: 20px;
}

.paragraph {
    color: #f5f7fa;
    font-weight: 600;
}

.heading {
    color: #f5f7fa;
    font-weight: 700;
}

.background-container {
    background-image: url("https://assets.ccbp.in/frontend/dynamic-webapps/time-converter-bg.png");
    height: 100vh;
    background-size: cover;
    font-family: "Open Sans";
}

.input-styling {
    background-color: white;
    width: 100%;
    border-radius: 7px;
    height: 30px;
}